
#__next {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

html {
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

body {
  background-color: #fafafa;
  height: 100%;
  width: 100%;
}
main{
  min-width: "100%";
  width: 100%;
}


#root {
  display: flex;
}
a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}




html,
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.img-main {
  width: auto;
  max-height: 560px;
  height: 100%;
  
}
